<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Images    </h3>
 

    </div>
    <div class="panel-body"   >
 
        <div ng-if="images.length == 0" ng-hide="loading.images"> 
            <div class="alert alert-dismissible alert-danger" style="font-size:80%">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong> Sorry!</strong> Seems there are no Images associated with this MOI Number.
</div>
         </div>
        
            <!---->
        
        <div class="row" ng-repeat="x in images">
            <div class="col-md-12">
        
            <h4>MOI : {{x.moi}}</h4>
        <hr>
            
            <ng-swipebox class="col-md-2"  photos="x.images"></ng-swipebox>
                
            </div>
        </div>
    </div>


 

</div>

