<div class="row">

    <div class="col-md-2 col-sm-12" id="compose-wrapper">
        <div class="panel panel-primary ">
            <div class="panel-heading ">
                <h5 class="page-title" style="color:#fff" >NMI NO.</h5>
                <h4 class="page-title"  style="color:#fff">{{iv.intimationMain.docNo}}</h4>
            </div>
            <aside class="panel-body" ng-init="intiStat = 'GENERAL'" style="padding-top:0cm">
                    <ul class="nav nav-pills nav-stacked compose-nav" style="margin-top:0cm">
                    <li class="ng-primary"  style="height:10%" >
                        <a   class="bussiness" ng-show="activePolicyGeneral.businessParty == 'HNB_STAFF'">  
                            <center>HNB STAFF</center>

                        </a>
                        <a   class="bussiness" ng-show="activePolicyGeneral.businessParty == 'ASSU_STAFF'">  
                            <center>ASSU. STAFF</center>

                        </a>
                    </li>


                    <li class="ng-primary"  style="height:10%" ng-show="activePolicyGeneral.vipFlag == 'YES'">
                        <a   class="vip">  <center>VIP CUSTOMER</center>

                        </a>
                    </li>
                    <li    ng-class="intiStat == 'GENERAL'?'active':''">
                        <a   href=""  ng-click=" intiStat = 'GENERAL'" > <i class="fa fa-info-circle"></i> &nbsp General

                        </a>
                    </li>
                   

                </ul>
            </aside>
        </div>
        
             <div class=" ">
           <img ng-if="activePolicyGeneral.productCode == 'TAMH'  " ng-src="img/policy/myhome.png" class="img img-responsive">
            <img ng-if="activePolicyGeneral.productCode == 'TTM' || activePolicyGeneral.productCode == 'TAST'" ng-src="img/policy/travelmax.png" class="img img-responsive">   
        </div>


    </div>

    <div class="col-md-10">


        <div ng-class="intiStat == 'GENERAL'?'animated bounceInUp':''" ng-show="intiStat == 'GENERAL'">
            <div ng-include="'pages/intimation/intimation.nonMotor.view.edit.html'"></div>

        </div>
   

        

    </div>


</div>


